<div class="section-7-area bg-footer-green u-s-n">
    <div class="3-1 second-bg-pink"></div>
    <div class="3-2 container">
      <div class="footer-area d-flex align-items-center">
        <div class="big-logo">
          <div class="big-logo-size poppinsFont">  
            <div class="HSC-title-footer">
             <div class="H-part"><span  class="span-h">H</span>elp</div>
             <div class="S-part"><span class="span-s">S</span>tray</div>
             <div class="C-part"><span  class="span-c">C</span>ats</div>
            </div>
         </div>
        </div>
        <div class="company-info d-flex flex-column justify-content-start nstFont">
          <div class="contactUs">聯絡我們</div>
          <div class="info-body d-flex flex-column">
            <div class="email custom-icon-spacing d-flex justify-content-start align-items-center">
              <div class="info-icon"><img src="/assets/images/icon/24px/solid/mail.svg" alt=""></div>
              <div class="info-content">helpstraycats@gmail.com</div>
            </div>
            <div class="phone custom-icon-spacing d-flex justify-content-start align-items-center">
              <div class="info-icon"><img src="/assets/images/icon/24px/solid/phone.svg" alt=""></div>
              <div class="info-content"> 04-25730981</div>
            </div>
            <div class="location custom-icon-spacing d-flex justify-content-start align-items-center">
              <div class="info-icon"><img src="/assets/images/icon/24px/solid/location.svg" alt=""></div>
              <div class="info-content">407 台中市西屯區臺灣大道三段301號</div>
            </div>

          </div>
        </div>
        <div class="link-group d-flex flex-column ms-auto">
          <div class="fakeArea"></div>
          <div class="link-group d-flex justify-content-end">
            <a href="#" class="facebookIcon icon-spacing"><img src="/assets/images/icon/32px/solid/fb.svg" alt="facebookLink"></a>
            <a href="#" class="youtubeIcon icon-spacing"><img src="/assets/images/icon/32px/solid/yt.svg" alt="youtubeLink"></a>
            <a href="#" class="insIcon icon-spacing"><img src="/assets/images/icon/32px/solid/ig.svg" alt="instagramLink"></a>
            <a href="#" class="lineIcon icon-spacing"><img src="/assets/images/icon/32px/solid/line.svg" alt="lineLink"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="3-3 container">
      <div class="Inc poppinsFont">© 2024 Help Stray Cats Technologies Inc.</div>
    </div>
  </div>