
<div class="navbarimage mx-auto">
    <div class="navbar-w-100 mx-auto">
       <div class="custom-navber d-flex align-items-center h-100-custom">
          <!-- HSC-home-logo -->
          <div class="homeLogo text-light p-5 fs-1 font-weight-bold me-auto"><a href="index.html" class="HSC-custom-logo">HSC</a></div>
    
           <!-- navbarSection -->
            <div class="navbar d-flex justify-content-between nstFont fs-9">
            <div class="firstPageSection px-4">
                            <div class="dropdown">
                                <div class="navBarSection" data-bs-toggle="dropdown">
                                    浪貓領養
                                </div>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item item-t-r" href="#">代保管領養</a></li>
                                  <li><a class="dropdown-item" href="#">登記須領養</a></li>
                                  <li><a class="dropdown-item" href="#">查看已領養</a></li>
                                  <li><a class="dropdown-item item-b-r" href="adopt.html">查詢附近浪貓</a></li>
                                </ul>
                              </div>
            </div>
            <div class="secondPageSection px-4">
                            <div class="dropdown">
                                <div class="navBarSection" data-bs-toggle="dropdown">
                                    愛心樂捐
                                </div>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item item-t-r" href="donate.html">支持創作者</a></li>
                                  <li><a class="dropdown-item item-b-r" href="#">支持浪貓單位</a></li>
                                </ul>
                              </div>
            </div>
            <div class="thirdPageSection px-4">
                            <div class="dropdown">
                                <div class="navBarSection" data-bs-toggle="dropdown">
                                    浪貓知識
                                </div>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item item-t-r" href="#">野外守則列表</a></li>
                                  <li><a class="dropdown-item item-b-r" href="#">愛護守則列表</a></li>
                                </ul>
                              </div>
            </div>
            <div class="fourthPageSection px-4">
                            <div class="dropdown">
                                <div class="navBarSection" data-bs-toggle="dropdown">
                                    緊急通報
                                </div>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item item-t-r" href="#">遺失協尋</a></li>
                                  <li><a class="dropdown-item" href="#">協助醫療</a></li>
                                  <li><a class="dropdown-item item-b-r" href="#">中途安置</a></li>
                                </ul>
                              </div>
             </div>
            </div>
            
            <!-- @media(max-width: 768px) -->
            <div class="md-member u-s-n">
             <!-- Button trigger modal -->
             <button type="button" data-bs-toggle="modal" data-bs-target="#md-exampleModal">
              <div class="md-member-img"><img src="/assets/images/icon/24px/solid/ueser.svg" alt=""></div>
            </button>
             <!-- Modal -->
             <div class="modal fade" id="md-exampleModal" tabindex="-1" aria-labelledby="md-exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="md-exampleModalLabel">會員登入</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class=" needs-validation" novalidate>
                      <div class="account d-flex justify-content-between align-items-center">
                        <label for="md-validationCustom01" class="form-label">帳號</label>
                        <input type="text" class="form-control" id="md-validationCustom01" placeholder="請填入帳號" required>
                        <div class="valid-feedback"></div>
                      </div>
                      <div class="password d-flex justify-content-between align-items-center">
                        <label for="md-validationCustom02" class="form-label">密碼</label>
                        <input type="text" class="form-control" id="md-validationCustom02" placeholder="請填入密碼" required>
                        <div class="valid-feedback"></div>
                      </div>
                      <div class="checkbox d-flex justify-content-start align-items-center">
                        <input type="checkbox" class="custom-checkbox" id="remember">
                        <label for="remember" class="remember-text">記住登入資訊一個月</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer d-flex align-items-center">
                    <a class="forget-password me-auto" href="javascript:void(0)">忘記密碼</a>
                    <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary save-btn">送出</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button class="md-side-navbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="/assets/images/icon/24px/solid/memember.svg" alt=""></button> 
          <div class="offcanvas offcanvas-end custom-offcanvas" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel"></h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <!-- ffcanvas-body -->
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      領養浪貓
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul class="d-flex flex-column align-items-center">
                        <li><a href="#">代保管領養</a></li>
                        <li><a href="#">登記須領養</a></li>
                        <li><a href="#">查看已領養</a></li>
                        <li><a href="adopt.html">查詢附近浪貓</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      愛心樂捐
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul class="d-flex flex-column align-items-center">
                        <li><a href="donate.html">支持創作者</a></li>
                        <li><a href="#">支持浪貓單位</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      浪貓知識
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul class="d-flex flex-column align-items-center">
                        <li><a href="#">野外守則列表</a></li>
                        <li><a href="#">愛護守則列表</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      緊急通報
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul class="d-flex flex-column align-items-center">
                        <li><a href="#">遺失協尋</a></li>
                        <li><a href="#">協助醫療</a></li>
                        <li><a href="#">中途安置</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ffcanvas-body -->
            </div>
          </div>
             
             <!-- memberSignIn/SignOut -->
             <div class="member u-s-n">
              <button type="button" class="d-flex align-items-center justify-content-center btn btn-primary custom-member-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <div class="memberSvg "><img src="/assets/images/icon/24px/solid/ueser.svg" alt=""></div>
                <div class="memberText nstFont fs-9 ps-1">登入/註冊</div>
              </button>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">會員登入</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="account d-flex justify-content-between align-items-center">
                        <label for="validationCustom01" class="form-label">帳號</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="請填入帳號" required>
                        <div class="valid-feedback"></div>
                      </div>
                      <div class="password d-flex justify-content-between align-items-center">
                        <label for="validationCustom02" class="form-label">密碼</label>
                        <input type="text" class="form-control" id="validationCustom02" placeholder="請填入密碼" required>
                        <div class="valid-feedback"></div>
                      </div>
                      <div class="checkbox d-flex justify-content-start align-items-center">
                        <input type="checkbox" class="custom-checkbox" id="pc-remember">
                        <label for="pc-remember" class="remember-text">記住登入資訊一個月</label>
                      </div>
                    </div>
                    <div class="modal-footer d-flex align-items-center">
                      <a class="forget-password me-auto" href="javascript:void(0)">忘記密碼</a>
                      <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal">關閉</button>
                      <button type="button" class="btn btn-primary save-btn">送出</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="pagePath">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html">HSC首頁</a></li>
                          <li class="breadcrumb-item"><a href="index.html"><%= breadcrumbTitle %></a></li>
                          <li class="breadcrumb-item active" aria-current="page"><%= pageTitle %></li>
                        </ol>
                      </nav>
                </div>
                <h1 class="pageTitle"><%= pageTitle %></h1>
            </div>
        </div>
    </div>
</div>

