.hideArrow::-webkit-outer-spin-button,
.hideArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}//隱藏input type:number的箭頭

.contentResize{
    resize: none;
    height: 136px;
}// 設定textarea大小
.donateLeft{
    width: 648px;
    padding: 32px;
}
.donateRight{
    width: 648px;
    padding: 32px 32px 179px 32px;
}
.cardNumMg{
    margin-right: 12px;

}