.hideArrow::-webkit-outer-spin-button,
.hideArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}//隱藏input type:number的箭頭

.contentResize{
    resize: none;
    width: 335px;
    height: 136px;
}// 設定textarea大小