.home-navbarimage{
  background-image:url(/assets/images/kv.png);
  width:100%;
  max-height:1177px;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.pb-custom{
  padding-bottom: 387px; 
}

.u-s-n{
  user-select: none;
}

.h1-HSC-title{
  // max-height: 100%;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.473);
  letter-spacing:0.02em;
  font-size:160px;
  color:white;
  line-height: 145px;
  font-weight: 600;
  padding-bottom: 20px;
  .span-h{
    -webkit-font-smoothing: antialiased; 
    display: inline-block; /* 確保 transform 可以生效 */
    transition: transform 0.2s ease; /* 增加動畫效果 */
    color:#767E32;
    &:hover{
    transform: scale(1.05); /* 將 H 字母放大 1.1 倍 */
    color:#79803e;
    }
  }
  .span-s{
    -webkit-font-smoothing: antialiased; 
    display: inline-block; /* 確保 transform 可以生效 */
    transition: transform 0.2s ease; /* 增加動畫效果 */
    color:#FFE142;
    &:hover{
    transform: scale(1.05); /* 將 H 字母放大 1.1 倍 */
    color:#fde155;
    }
  }
  .span-c{
    -webkit-font-smoothing: antialiased; 
    display: inline-block; /* 確保 transform 可以生效 */
    transition: transform 0.2s ease; /* 增加動畫效果 */
    color:#767E32;
    &:hover{
    transform: scale(1.05); /* 將 H 字母放大 1.1 倍 */
    color:#79803e;
    }
  }
}

.h2-title{
  font-size: 56px;
  letter-spacing:0.03em;
  color:white;
  line-height: 67px;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 10px;
  letter-spacing:0.1em;
}
.h3-title{
  color:white;
  font-size:28px;
  line-height: 33.6px;
}
.section-2-area{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bg-w{
  background-color: white;
}
.h4-title{
  color:black;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing:0.01em;
  span{
    color:#959E43;
  }
}
.h4-content-1{
  font-size: 1.125rem;
  line-height: 1.5rem;
  // font-weight: 500;
  padding-bottom: 1rem;
  
}
.h4-content-2{
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 532px;
  // font-weight: 400;
}

.teamImg img{
  max-width:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-o{
  width: 100%;
  position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
  margin-top: 307px;
  background-image:url(/assets/images/Frame1003138no2.svg);
  height:1650px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 1; /* 設定較低的層級 給另外一個父容器section-4-area疊在上面 */
}



.bg-data-green{
  max-width:1296px;
  background-color: #f8f8ed;
  border-radius: 1.5rem;
  box-shadow: 0px 12px 12px 0px #ECEFD2CC;
  position: absolute; /* 絕對定位，圖片會疊加在區塊上 */
  top: -200px; /* 設定相對於容器的上邊距 */
  max-height: 418px;
  z-index: 20; /* 設定圖片的層級，確保疊在區塊上方 */
}

.data-list{
  max-width: 100%;
  padding:  1.8rem 2.5rem 1.8rem 2.5rem;
  & .bg-r-2{
    background-color: #FFFFFFB2;
    border-radius: 2.5rem;
  }
  & .bg-r-n-2{
    border: 3px #FFFFFFB2 solid; 
    border-radius: 2.5rem;
  }
}

.dataNumContent{
  max-width: 1088px;
}

.l-data-list-group{
  
  margin: 8px 20px 8px 20px;
  max-width: 480px;
  max-height: 102px;
  & .num-content{
    font-size: 18px;
    line-height: 27px;
    max-width: 305px;
    padding-left: 1.5rem;
  }
  & span{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    color:#959E43;
  }
  & .px40y20{
    padding: 24px 30px 24px 30px;
  }
}
.r-data-list-group{
  margin: 8px 20px 8px 20px;
  max-width: 623px;
  max-height: 102px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 2.5rem;
  padding-left: 2.5rem; //群組跟群組之間的間隔
  & img{
    width: 78px;
    height: 78px;
  }
  & .img-content{
    max-width: 441px;
    padding-left: 1.5rem;
  }
}
.cat-logo{
  position: absolute; /* 絕對定位，讓圖片可以自由超出容器 */
  top: -95px; /* 調整位置讓圖片向上超出容器 */
  left: 0px; /* 向左移動超出容器 */
  width: 275px; /* 調整圖片大小 */
  height: auto;
  z-index: 30; /* 控制疊放順序 */
}

.report-title{
  font-weight:600;
  color:#FFF2DB;
  font-size: 7rem;
  padding-top: 11rem;
  line-height: 7rem
}


.formList-title{
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
  color:#3E4324;
  padding-bottom: 2.5rem;
}


.form-side{
  max-width: 725px;
}

.form-side-title{ //小標題
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  padding-bottom: 0.5rem;

}

.form-side-content1{
  max-height: 3rem;
}

.form-select{
  margin-right: 1rem;
  font-size: 1rem;
  max-width: 7.8rem;
  height:48px;
  border: 1px solid #E0E2B4;
  border-radius: 16px;
  & option{
    padding: 0.75rem 1rem 0.75rem 1rem;
  }
}

.form-search{
  position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
  display: inline-block; /* 保持輸入框和圖片一起排列 */
  width: 100%;
  height:48px;
  & .form-control{
    border: 1px solid #E0E2B4;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    padding-right: 40px; /* 給輸入框右邊留出空間，避免文字和圖標重疊 */
  }
  & .search-icon{
    -webkit-font-smoothing: antialiased; 
    position: absolute; /* 絕對定位，圖片會疊加在區塊上 */
    top: 25%; /* 垂直居中 */
    right: 16px; /* 圖片相對輸入框右側對齊 */
    height: auto;
    z-index: 10; /* 設定圖片的層級，確保疊在區塊上方 */
    transition: transform 0.15s ease; /* 增加動畫效果 "<1.5sec" */
    cursor: pointer; /* 圖片可點擊（視情況設置） */
    display: inline-block; /* 確保 transform 可以生效 */
    &:hover{
    transform: scale(1.05); /* 放大 1.05 倍 */
    }
  }
}

.textarea-container{
  position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
  display: inline-block; /* 保持輸入框和圖片一起排列 */
}

.form-side-content2{
  border: 1px solid #E0E2B4;
  border-radius: 16px;
  width: 100%;
  height: 136px;
  resize: none; /* 禁止拉伸 */
  padding: 0.5rem;
}

.char-count{
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: #989898;
}

.upload-file {
  background-color: #FFFFFF;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  border: 1px solid #E0E2B4;
  padding: 16px 20px 16px 20px;
  border-radius: 20px;
  & .file-input{
    display: none;
  }
  & .upload-btn {
    line-height: 14px;
    width: 96px;
    height: 32px;
    font-size: 14px;
    background-color: #59612A;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 12px;
    cursor: pointer;
    &:hover{
      background-color: #494f22;
      transition: transform 0.2s ease; /* 增加動畫效果 */
    }
  }
  & .file-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 10px;
    overflow-x: auto;
  }
}

.file-item {
  display: inline-block;           /* 讓 file-item 成為 inline 區塊元素 */
  position: relative;    
  padding-right: 25px;             /* 給右邊留出空間給 x 按鈕 */
  white-space: nowrap;         /* 不換行 */
  overflow: hidden;            /* 隱藏超出範圍的文字 */
  text-overflow: ellipsis;     /* 顯示省略號 */
  width: 119px;                /* 設定固定的寬度，根據需求調整 */
  display: flex;
  align-items: center;
  background-color: #f3f4e6;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.file-name {
  display: inline-block;           /* 讓文件名成為 inline 區塊 */
  white-space: nowrap;             /* 防止文字換行 */
  overflow: hidden;                /* 隱藏超出部分 */
  text-overflow: ellipsis;         /* 顯示省略號 */
  vertical-align: middle;          /* 垂直置中 */
  max-width: 85%;                 /* 填滿父元素的寬度 */
}

.remove-btn {
  // transform: translateY(-50%); 
  position: absolute;   
  margin-left: 85px;
  cursor: pointer;
  color: #555;
}

.remove-btn:hover {
  transition: transform 0.2s ease; /* 增加動畫效果 */
  color: red;
}

.file-count {
  margin-left: auto;
  font-size: 12px;
  color: #989898;
}

.form-side-section3{
  & .checkbox-section1{
    padding-bottom: 2rem;
  }
  & .checkbox-group{
    width: 300px;
  }
  & .checkbox-section-title{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  & .checkbox-radio-content{
    position: relative; /* 為了使用絕對定位 */
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 0.8rem;
    margin-right: 0.25rem;
    font-weight: 400;
    width: 1.5rem; /* 圓形的寬度 */
    height: 1.5rem; /* 圓形的高度 */
    appearance: none; /* 取消原有樣式 */
    border: 2px solid #E0E2B4; /* 圓形邊框顏色 */
    border-radius: 50%; /* 使其成為圓形 */
    outline: none; /* 取消外框 */
    cursor: pointer; /* 游標變為手型 */
    transition: background-color 0.3s, border-color 0.3s; /* 添加過渡效果 */
    &::before{
    content: ""; /* 讓伪元素顯示 */
    position: absolute; /* 使用絕對定位 */
    top: 4px; /* 調整填滿顏色的上邊距 */
    left: 4px; /* 調整填滿顏色的左邊距 */
    width: 16px; /* 填滿顏色的寬度 */
    height: 16px; /* 填滿顏色的高度 */
    border-radius: 50%; /* 保持圓形 */
    background-color: transparent; /* 初始為透明 */
    transition: background-color 0.3s; /* 添加過渡效果 */
    }
    &:hover{
      border: 2px solid #919c4e; /* 懸停時的邊框 */
    }
    &:checked{
      &::before{
        background-color: #494f22; /* 被選中時的背景顏色 */
        border-color: #E0E2B4; /* 被選中時的邊框顏色 */
      }
      &:hover{
        border-color: #E0E2B4; /* 被選中時懸停的邊框顏色 */
      }
    }
  }
}
.map-side{
  max-width: 530px;
  max-height: 479px;
  padding-left: 5rem;
}


iframe {
  pointer-events: none;  /* 禁止所有指向事件 */
  border: none; /* 移除邊框 */
  outline: none;
  width: 550px;
  height: 489px;
  border-radius: 1rem;
  box-shadow: 0px 12px 12px 0px #8d8d8dcc;
}

.custom-map{
  transition: opacity 0.5s ease; /* 設定淡入淡出效果 */
  opacity: 1; /* 初始不透明度 */
    & .hidden {
      opacity: 0; /* 隱藏時的透明度 */
  }
}

.was-validated .custom-icon:invalid,
.custom-icon.is-invalid {
    background-position: right calc(2.375em + 0.1875rem) center !important; /* 使用 !important 來覆蓋內聯樣式 */
}
.was-validated .custom-icon:valid,
.custom-icon.is-valid{
  background-position: right calc(2.375em + 0.1875rem) center !important; /* 使用 !important 來覆蓋內聯樣式 */
}

.submit-btn{
  position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
  padding-top:3rem;
  & span{
    pointer-events: none; /* 使文字無法攔截點擊事件 */
    color: white;
    position:absolute;
    top:65px;
  }
  & .custom-btn{
    line-height: 24px;
    font-size: 1rem;
    display: inline-block; /* 確保 transform 可以生效 */
    background-color: #59612A;
    width: 13.25rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    transition-duration: 0.2s;
    &:hover{
      // transform: scale(1.05);
      transition: all 0.2s ease-in-out 0s; /* 增加動畫效果 */
      background-color: #41471e;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
      -webkit-font-smoothing: antialiased; 
      transform: scale(1.01);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease-in-out 0s; /* 增加動畫效果 */
  }
  }
}

.report-info{
  margin-top: 3rem;
  max-width: 81rem;
  max-height: 270px; /* 轉換成rem小數點太多 */
  padding:2rem 2rem 2.5rem 2rem ;
  border: 1px solid #E0E2B4;
  border-radius: 2.5rem;
  & .report-info-title{
    color:#59612A;
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 33.6px;
    margin-bottom: 32px;
  }
  & .report-info-section{
    max-height: 8.25rem;
    border-right:1px solid #E0E2B4 ;
  }
  & .r-i-s-header{
    margin-bottom: 1rem;
    & .r-i-s-icon{
      margin-right: 1rem;
      width: 32px;
      height: 32px;
      background-color: #B2BA61;
      color:white;
      border-radius: 50%; /* 設置為圓形 */
      gap: 5.12px;
      font-size:18px;
      line-height: 20px;
      align-items: center;
      font-weight: 600;
    }
    & .r-i-s-title{
      font-size: 1rem;
      line-height: 1.5rem;
      color:#959E43;
    }
  }
  & .r-i-s-content{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
  .report-info-list .border-r-none{  /* 讓權重高一點 */
    border: none;  
  }
}



/* section-4-area */
.bg-g{
  margin-bottom: -176px;
  position: relative;
  z-index: 400; /* 設定較高的層級，疊在 bg-o 上 */
  padding:6.5rem 0 4.5rem 0;
  background-color: #EFF0D7;
  border-radius:0px 200px 0px 0px;
  top: -176px; /* 調整位置 */
  width: 100%;
  max-height: 556px;
  & .adopt-preview-pic{
    width: 100%;  /* 讓圖片範圍可以卡在網頁邊邊，搭配html>d-flex>justify-content */
    &  img{
      position: absolute;
      z-index: 500; /* 設定較高的層級，疊在 bg-g 上 */
      top: 430px; /* 調整位置 */
      width: 355px;
      height: auto; /* 不要讓他變形 */
    }
  }
}
.adopt-preview{
  max-width: 1320px;
  & .adopt-p-list{
    width:100%;
    max-height: 18.75rem;
    & .adopt-p-card{
      max-width:12.25rem;
      max-height:18.75rem;
      & .adopt-p-c-title{
        font-size: 18px;
        line-height: 27px;
        color: #3E4324;
      }
      & .adopt-p-c-pic{
        margin-top: 10px;
        margin-bottom: 10px;
        & img{
          width: 100%;
          height: auto;
        }
      }
      & .adopt-p-c-title{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
      }
      & .adopt-p-c-text{
        color: #959E43;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
      }
    }
  }
  & .adopt-p-moreBtn{
    position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
    padding-top:2rem;
    & span{
      pointer-events: none; /* 使文字無法攔截點擊事件 */
      color: white;
      position:absolute;
      top:50px;
      & .row{
        --bs-gutter-x: 1.5rem;
      }
    }
    & .custom-moreBtn{
      line-height: 24px;
      font-size: 1rem;
      display: inline-block; /* 確保 transform 可以生效 */
      background-color: #59612A;
      width: 13.25rem;
      height: 3rem;
      border: none;
      border-radius: 20px;
      transition-duration: 0.2s;
      &:hover{
        // transform: scale(1.05);
        transition: all 0.2s ease-in-out 0s; /* 增加動畫效果 */
        background-color: #41471e;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      &:active {
        -webkit-font-smoothing: antialiased; 
        transform: scale(1.01);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease-in-out 0s; /* 增加動畫效果 */
    }
    }
  }
}


.section-5-area{
  padding-top: 88px;
}
.for-change-title{
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  padding-bottom: 48px;
  background: linear-gradient(294.62deg, #494E26 4.4%, #B2BA61 74.23%);
  -webkit-background-clip: text; //這個屬性告訴瀏覽器將背景限制在文字內部，這樣漸變色就會應用到文字上，而不是背景上。
  -webkit-text-fill-color: transparent; //裡將文字顏色設置為透明，這樣背景色可以透過文字顯示出來。
}


.f-c-c-left-side{
  max-width: 663px;
  color:#292929;
  & .left-side-section-title{
    padding-bottom: 16px;
    font-size: 28px;
    line-height: 33.6px;
  }
  & .left-side-section-content{
    margin-bottom: -8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  & .process-flow{
    max-height: 544px;
    
    & .step{
      margin-top: 32px;
      max-height: 112px;
      & .step-icon{
        position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
        margin-right: 8px;
        background-color: #FFF7E9;
        border-radius: 1000px;
        max-width: 112px;
        max-height: 112px;
        padding: 24px;
        z-index: 2;
        & img{
          width: 64px;
          height: auto;
        }
        & .dot-line{
          z-index: 1;
          position: absolute; /* 絕對定位，將虛線定位在下方 */
          left: -143px;
          top: 309px;
          width: 400px;
          height: 0px;
          border: 3px dashed #FFE142;
          transform: rotate(90deg); /* 旋轉90度 */
        }
      }
      & .step-content{
        padding: 16px;
        & .step-content-title{
          font-weight: 500;
          font-size:20px;
          line-height: 24px;
        }
        & .step-content-text{
          font-weight: 400;
          font-size:16px;
          line-height: 24px;
        }
      }
    }
  }
}

.f-c-c-right-side{
  max-width: 636px;
  color:#292929;
  background-color: #FAFAFA;
  max-height: 786px;
  border-radius: 2.5rem;
  padding: 40px;
  box-shadow: 12px 12px 16px 0px #00000014;
  & .right-side-content{
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 556px;
  }
  & .right-side-pic{
      z-index: 1;
      position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
    & .meeting-pic{
      max-width: 556px;
      height: 490px;
      overflow: hidden; /* 超出隱藏 */
      object-fit: cover; /* 保持比例放大並裁剪多餘部分 */
    }
    & .pic-up{
      max-width: 465px;
      position: absolute;
      z-index: 2; /* 設定較高的層級，疊在 meeting-pic 上 */
      top:-40px;
      background-color:#FFFFFF ;
      box-shadow: 0px 4px 16px 0px #00000014;
      padding: 16px 32px 16px 32px;
      & .data-number{
        color: #494E26;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
      }
      & .data-content{
        padding-left: 28px;
        color: #292929;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      & .data-left{
        border-right: 1px solid #989898;
        padding-right: 16px;
        margin-right: 16px;
      }
    }
  }
}


.bg-p{
  background-image: url(/assets/images/Frame1003138no2.svg);
  width: 100%;
  margin-top: 72px;
  height:1270px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  & .product-title{
    color: #3E4324;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    padding: 133px 0px 48px 0px;
  }
}

.list-section1{
  margin-bottom: 24px;
}

.product-list{
  & .card-radius-custom{
    max-width: 306px;
    max-height: 400px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 4px 16px 0px #00000014;
    display: inline-block; /* 確保 transform 可以生效 */
    -webkit-font-smoothing: antialiased; 
    transition: transform 0.2s ease-in-out; /* 初始狀態下添加 transition */
    &:hover{
      transform: scale(1.02);
    }
  }
  & .img-1{background-image:url(/assets/images/Frame1003051-5.jpg);}
  & .img-2{background-image:url(/assets/images/Frame1003051-6.jpg);}
  & .img-3{background-image:url(/assets/images/Frame1003051-7.jpg);}
  & .img-4{background-image:url(/assets/images/Frame1003051-8.jpg);}
  & .img-5{background-image:url(/assets/images/Frame1003051-8.jpg);}
  & .img-6{background-image:url(/assets/images/Frame1003051-10.jpg);}
  & .img-7{background-image:url(/assets/images/Frame1003051-11.jpg);}
  & .img-8{background-image:url(/assets/images/Frame1003051-12.jpg);}
  & .cardIMG{
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* 超出隱藏 */
    object-fit: cover; /* 保持比例放大並裁剪多餘部分 */
    width: auto;
    height: 400px;
    border-radius: 40px 40px 0px 0px;
    & .card-time{
      display: flex;
      justify-content: start;
      flex-wrap: nowrap;
      font-size: 14px;
      width: 210px;
      max-height: 32px;
      position: absolute;
      z-index: 2;
      top:0;
      left: 110px;
      backdrop-filter: blur(12px);
      padding: 5px 33px 6px 24px;
      border-radius:0px 0px 0px 32px;
      color:white;
      // background-color: #000000; /* 黑色背景 */
      background: rgba(0, 0, 0, 0.3); /* 深色背景，30% 透明度 */
    }
    & .card-name{
      max-width: 92px;
      max-height: 32px;
      position: absolute;
      background-color: #959E43;
      padding: 4px 28px 4px 24px;
      border-radius:0px 24px 0px 0px;
      z-index: 2;
      top: 195px;
      left: 0px;
      color:white;
    }
  }
  & .card-body{
    // padding: 24px 24px 16px 24px;
    & .card-content{
      padding: 24px 24px 16px 24px;
      color:#292929;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
    & .card-footer{
      border-top: 1px solid #F8F8ED;
      padding: 16px 24px 20px 24px;
      // padding: 20px 16px 20px 24px;
      font-size: 14px;
      color: #989898;
      line-height: 21px;
      border-top: 1px solid #F8F8ED;
    }
  }

}

.product-list-moreBtn{
  position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
  padding-top:115px;
  & .row{
    --bs-gutter-x: 1.5rem;
  }
  & .custom-moreBtn{
    color: white;
    top:50px;
    line-height: 24px;
    font-size: 1rem;
    display: inline-block; /* 確保 transform 可以生效 */
    background-color: #59612A;
    width: 13.25rem;
    height: 3rem;     
    border: none;
    border-radius: 20px;
    transition-duration: 0.2s;
    &:hover{
    // transform: scale(1.05);
    transition: all 0.2s ease-in-out 0s; /* 增加動畫效果 */
    background-color: #41471e;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
    &:active {
    -webkit-font-smoothing: antialiased; 
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out 0s; /* 增加動畫效果 */
   }
  }
  & .btn-l-icon{
    position:absolute;
    width: 81px;
    height: 68px;
    top: 102px;
    left: 435px;
    z-index: 3;
  }
  & .btn-r-icon{
    position: relative; /* 設置父容器為相對定位，供子元素定位參考 */
    & .story-icon-body{
      animation: shake 2s infinite alternate; /* 持續搖晃 */
      transform-origin: left bottom; /* 設置搖晃中心點在左下角 */
      display: inline-block;
      font-size: 16px;
      z-index: 4;
      top: -90px;
      left: -15px;
      position:absolute;
      width: 88px;
      height: 88px;
      background-color: #B2BA61;
      padding: 8px;
      border-radius: 100%;
      line-height: 24px;
      color:white;
      & .green-angle{
        position: absolute;
        bottom: -3px; /* 三角形的位置 */
        left: 8px; /* 左右偏移量 */
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 20px solid #B2BA61; /* 使三角形顏色和氣泡一致 */
        transform: rotate(35deg); /* 順時針旋轉 45 度 */
      }
    }
  }
}
@keyframes shake {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.bg-footer-green{
  background: linear-gradient(294.62deg, #494E26 4.4%, #B2BA61 74.23%);
  max-height: 405px;
  & .second-bg-pink{
    background-color: #fffbf4;
    border-radius: 0px 0px 48px 48px;
    padding-top: 48px;
    box-shadow: 0px 15px 15px 0px #4c52108a;
  }
}

.HSC-title-footer{
  padding-right: 72px;
  border-right: 1px solid white;
  // text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.473);
  letter-spacing:0.02em;
  font-size:56px;
  color:white;
  line-height: 56px;
  font-weight: 600;
  // padding-bottom: 20px;
  .span-h{
    -webkit-font-smoothing: antialiased; 
    display: inline-block; /* 確保 transform 可以生效 */
    transition: transform 0.2s ease; /* 增加動畫效果 */
    color:#767E32;
    &:hover{
    transform: scale(1.05); /* 將 H 字母放大 1.1 倍 */
    color:#79803e;
  }
}
.span-s{
  -webkit-font-smoothing: antialiased; 
  display: inline-block; /* 確保 transform 可以生效 */
  transition: transform 0.2s ease; /* 增加動畫效果 */
  color:#FFE142;
  &:hover{
    transform: scale(1.05); /* 將 H 字母放大 1.1 倍 */
    color:#fde155;
  }
}
.span-c{
  -webkit-font-smoothing: antialiased; 
  display: inline-block; /* 確保 transform 可以生效 */
  transition: transform 0.2s ease; /* 增加動畫效果 */
  color:#767E32;
  &:hover{
    transform: scale(1.05); /* 將 H 字母放大 1.1 倍 */
    color:#79803e;
  }
}
}
.footer-area{
  border-bottom: 1px solid white;
  padding-top: 56px;
  padding-bottom: 27px;
  max-height: 357px;
  & .company-info{
    color: #ffffff;
    max-width: 806px;
    padding-left: 72px;
     & .contactUs{
       font-weight: 600;
       font-size: 16px;
       line-height: 24px;
       padding-bottom: 24px;
     }
     & .info-body{
      padding-right: 421px;
      & .custom-icon-spacing{
        padding-bottom: 13px;
      }
       & .info-content{
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         padding-left: 24px;
       }
     }
   }
   & .link-group{
    & .fakeArea{
      padding-top: 135px;
    }
    & .icon-spacing{
      padding: 0px 12px 0px 12px;
    }
    & a{
      -webkit-font-smoothing: antialiased; 
      display: inline-block; /* 確保 transform 可以生效 */
      transition: transform 0.2s ease; /* 增加動畫效果 */
      &:hover{
        transform: scale(1.05); /* 將 icon 放大 1.05 倍 */
      }
    }
   }
}
.Inc{
  padding: 12px 0px 12px 0px;
  font-size: 14px;
  line-height: 21px;
  color:#FFFFFF;
}






