<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>捐款資料填寫</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="donateContainer d-flex border  border-HSCcolor nstFont">
        <div class="donateLeft ">
            <div class="row">
                <div class="col">
                    <form class="row g-6">
                        <div class="col-md-6 mb-3">
                            <label for="inputName" class="form-label fs-7">捐款人姓名</label>
                            <input type="text" class="form-control border-HSCcolor" id="inputName" placeholder="請輸入姓名">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPhoneNumber" class="form-label fs-7">電話</label>
                            <input type="number" class="form-control hideArrow border-HSCcolor" id="inputPhoneNumber" placeholder="請輸入電話">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="inputEmail" class="form-label fs-7">Email</label>
                            <input type="text" class="form-control border-HSCcolor" id="inputEmail" placeholder="請輸入Email">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="inputDonateAmount" class="form-label fs-7">捐款金額</label>
                            <input type="number" class="form-control hideArrow border-HSCcolor" id="inputDonateAmount" placeholder="請輸入金額">
                        </div>
                        <div class="col-12 textContainer">
                            <label for="inputText" class="form-label fs-7">想對團隊說的話(選填)</label>
                            <textarea class="form-control contentResize border-HSCcolor" id="inputText" placeholder="請輸入內容"></textarea>
                            <div id="charCount" class="textCount">0/150</div>  
                        </div>
                    </form>
                 </div>
            </div>
        </div>
        <div class="donateRight border-start bg-HSCcolor bg-opacity-50">
            <div class="row">
                <div class="col">
                    <p class="cradText fs-5 mb-4">信用卡資訊</p>
                    <form class="row">
                        <div class="col-12 mb-5">
                            <label for="cardName" class="form-label fs-7">持卡人姓名</label>
                            <input type="text" class="form-control border-HSCcolor" id="cardName" placeholder="請輸入信用卡上的姓名">
                        </div>
                        <div class="col-12 mb-5">
                            <label for="cardNum" class="form-label fs-7">信用卡卡號</label>
                            <div class="d-flex">
                            <input type="number" class="form-control cardNumMg placehPosition hideArrow border-HSCcolor" id="cardNum" placeholder="0000">
                            <input type="number" class="form-control cardNumMg placehPosition hideArrow border-HSCcolor" id="cardNum" placeholder="0000">
                            <input type="number" class="form-control cardNumMg placehPosition hideArrow border-HSCcolor" id="cardNum" placeholder="0000">
                            <input type="number" class="form-control placehPosition hideArrow border-HSCcolor" id="cardNum" placeholder="0000">
                        </div>
                        </div>
                        <div class="col-6">
                            <label for="expiration" class="form-label fs-7">卡片有效期限</label>
                            <input type="text" class="form-control border-HSCcolor" id="expiration" placeholder="MM/YY">
                        </div>
                        <div class="col-6">
                            <label for="CVCcode" class="form-label fs-7">信用卡安全碼</label>
                            <input type="number" class="form-control border-HSCcolor" id="CVCcode hideArrow" placeholder="背面三碼">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>
