<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>捐款資料填寫</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container d-flex">
        <div class="donateLeft border">
            <div class="row">
                <div class="col">
                    <form class="row g-6">
                        <div class="col-md-6 mb-5">
                            <label for="inputName" class="form-label fs-7">捐款人姓名</label>
                            <input type="text" class="form-control" id="inputName" placeholder="請輸入姓名">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPhoneNumber" class="form-label fs-7">電話</label>
                            <input type="number" class="form-control hideArrow" id="inputPhoneNumber" placeholder="請輸入電話">
                        </div>
                        <div class="col-12 mb-5">
                            <label for="inputEmail" class="form-label fs-7">Email</label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="請輸入Email">
                        </div>
                        <div class="col-12 mb-5">
                            <label for="inputDonateAmount" class="form-label fs-7">捐款金額</label>
                            <input type="number" class="form-control hideArrow" id="inputDonateAmount" placeholder="請輸入金額">
                        </div>
                        <div class="col-12">
                            <label for="inputText" class="form-label fs-7">想對團隊說的話(選填)</label>
                            <textarea class="form-control contentResize" id="inputText" placeholder="請輸入內容" maxlength="150"></textarea>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
        <div class="donateRight border">
            <div class="row">
                <div class="col">
                    <p class="mb-5">信用卡資訊</p>
                    <form class="row">
                        <div class="col-12 mb-5">
                            <label for="cardName" class="form-label">持卡人姓名</label>
                            <input type="text" class="form-control" id="cardName" placeholder="請輸入信用卡上的姓名">
                        </div>
                        <div class="col-12 mb-5">
                            <label for="cardNum" class="form-label">信用卡卡號</label>
                            <div class="d-flex">
                            <input type="text" class="form-control cardNumMg" id="cardNum" placeholder="0000">
                            <input type="text" class="form-control cardNumMg" id="cardNum" placeholder="0000">
                            <input type="text" class="form-control cardNumMg" id="cardNum" placeholder="0000">
                            <input type="text" class="form-control" id="cardNum" placeholder="0000">
                        </div>
                        </div>
                        <div class="col-6">
                            <label for="expiration" class="form-label">卡片有效期限</label>
                            <input type="text" class="form-control" id="expiration" placeholder="MM/YY">
                        </div>
                        <div class="col-6">
                            <label for="CVCcode" class="form-label">信用卡安全碼</label>
                            <input type="text" class="form-control" id="CVCcode" placeholder="背面三碼">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>
