<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HSC流浪貓協助平台</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

   <h1>HSC</h1>
   <p>引入測試：</p>
   <a href="adopt.html">adopt</a>
   <a href="donate.html">donate</a>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="all.js"></script>
  </body>
</html>
