<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>救援個案募款</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    
    <div class="rescueContainer">
        <div class="upSection">
            <div class="content">
                <div class="catImg"><img src="/assets/images/innerPage/image (21).jpg" alt="盲貓小蝦"></div>
                <div class="progressSection"></div>
            </div>
        </div>
        <div class="downSection">

        </div>
    </div>





    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>